ROM=/home/cpi/games/Intellivision
ROM_SO=/home/cpi/apps/emulators/jzintv-20200712-src/bin/jzintv -p /home/cpi/apps/emulators/bios -q --kbdhackfile=/home/cpi/games/Intellivision/hackfile.cfg %ROM%" -z320x240,8 
EXT=bin,int
LAUNCHER=
TITLE=JZINTV
SO_URL=https://github.com/mferrari2020/jzintv-gameshell